body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgrey;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* outline: 1px solid red; */
}

.background {
  position: absolute;
  /* outline: 1px solid red; */
  min-height: 100%;
  min-width: 100%;
}

.background.over {
  /* background-color: rgb(245, 245, 242); */
}

.Wrapper {
  margin: 20px auto;
  position: relative;
  background-color: rgb(245, 245, 242);
  padding: 10px;
  display: flex;
  width: 95%;
  max-width: 900px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 3px;
  box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.37);
}

input {
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 0.2rem;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 2px;
}

.AppLabel {
  margin: 1rem 0;
}

.block_list {
  width: 100%;
}

.block_item {
  display: grid;
  grid-template-columns: 650px repeat(3, 1fr);
  position: relative;
  align-items: center;
  left: 0;
  right: 0;
  margin: 8px 0;
  text-align: center;
  /* border-radius: 5px; */
  /* overflow: hidden; */
}

.block__main {
  background-color: rgb(255, 255, 255);
  outline: 1px solid rgb(191, 202, 191);
  /* border-radius: 0 10px 10px 0; */
  /* margin: 8px -1px; */
}

.block__secondary {
  /* background-color: rgb(243, 243, 243);
  outline: 1px solid rgb(213, 213, 213);
  width: 650px; */
}

.block__main.over {
  background-color: rgb(248, 255, 245);
  outline: 1px solid rgb(86, 149, 86);
}

.block__secondary.over {
  background-color: rgb(242, 241, 235);
  outline: 1px solid rgb(190, 190, 190);
}

.rooms_list {
  width: 50%;
  min-width: 650px;
  overflow: hidden;
}

.block__main .rooms_list {
  outline: 1px solid rgb(191, 202, 191);
}

.block__secondary .rooms_list {
  outline: 1px solid rgb(213, 213, 213);
}

svg {
  height: 12px;
}

.room {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 250px 1fr 1fr 1fr 1fr 1fr;
  align-items: stretch;
  position: relative;
  padding: 2px 0;
  outline: 1px solid rgb(204, 221, 204);
  /* margin: -1px; */
}

.room__secondary {
  background-color: rgb(248, 251, 248);
  color: rgb(117, 136, 117);
}

.room__main {
  background-color: rgb(248, 251, 248);
  font-weight: 500;
}

/* .room > div {
  border: 1px solid rgb(204, 221, 204);
} */

/* .room__main > div:first-of-type {
  background-color: rgb(227, 247, 227);
  margin: 2px 4px;
} */

.block__secondary .room {
  background-color: rgb(243, 243, 243);
  outline: 1px solid rgb(231, 231, 231);
  color: rgb(117, 136, 117);
}

.block_item.block_item__header {
  z-index: 1000;
  position: sticky;
  top: 0;
  outline: 1px solid rgb(49, 49, 49);
  overflow: hidden;
  background-color: rgb(49, 49, 49);
  color: white;
  padding: 4px 0;
}

.block_item.block_item__header * {
  outline: 0;
}
